.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            | Github Login
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
            | Facebook Login
    button.social-login--kakaotalk
        a(href=routes.kakao)
            span
                i.fas.fa-comment
            | Kakao Login