extends layouts/main

block content
	.form-container
		form(action=`${routes.videos}${routes.upload}`, method="post")
			label(for="file") Avatar
			input(type="file", id="video", name="video")
			input(type="text", name="title", placeholder="Title")
			textarea(name="description", placeholder="Description")
			input(type="submit", value="Upload Video")