mixin videoPlayer(video = {})
    .videoPlayer#jsVideoPlayer
        video(src=`http://localhost:4000/${video.src}` type='video/mp4')
        .videoPlayer__controls
            .videoPlayer__column
                span#jsVolumeBtn
                    i.fas.fa-volume-up
                span
                    span#currentTime 00:00:00
                    |/
                    span#totalTime 00:00:00
            .videoPlayer__column
                span#jsPlayBtn
                    i.fas.fa-play
            .videoPlayer__column
                span#jsFullScrnBtn
                    i.fas.fa-expand